
body{
    margin: 40px;
}

hr{
    color: red
}
.summary{
    color:green;
}
h1{
    text-align: center;
    color: indigo;
}
h3{
    border-left: green solid 5px;
    padding-left: 10px;
}
.container{
    color:whitesmoke;
    background-color: rgb(12, 85, 12);
    padding: 20px;
  
    border:2px solid violet;
}
.note{
    background-color: #DCF4FF;
    padding: 20px;
    border-radius: 5px;
}
a{
    text-decoration-style: none;
}
.profile{
    height: 60px;
    width:  60px;
    border-radius: 40px;
    border: 2px dotted green;
    padding: 5px;
    
}

.post-img{
    height: 300px;
    width:  300px;
    border-radius: 2px;

}

.code-sample{
    border-left: green solid 5px;
    border-right: green solid 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom : 20px;
    background-color: #EEEEEE;
}

.feedback{
    text-align: center;
    margin: 20px;

}